<!--
 Create tabs with an icon and label, using the tabs-positive style.
 Each tab's child <ion-nav-view> directive will have its own
 navigation history that also transitions its views in and out.
 -->
<ion-tabs class="tabs-icon-top">

    
    <!-- Register Tab -->
    <ion-tab title="Cadastro" icon="icon ion-home" href="#/tab/register">
        <ion-nav-view name="tab-register"></ion-nav-view>
    </ion-tab>
    
    
    <!-- Diagnosis Tab -->
    <ion-tab title="Diagnóstico" icon="icon ion-heart" href="#/tab/diagnosis">
        <ion-nav-view name="tab-diagnosis"></ion-nav-view>
    </ion-tab>
    
    <!-- Account Tab -->
    <ion-tab title="Mapa da Dengue" icon="icon ion-map" href="#/tab/map">
        <ion-nav-view name="tab-map"></ion-nav-view>
    </ion-tab>
    
    <!-- Account Tab
    <ion-tab title="Amigos" icon="icon ion-gear-b" href="#/tab/friends">
        <ion-nav-view name="tab-friends"></ion-nav-view>
    </ion-tab> -->
    
    <!-- Help Tab -->
    <ion-tab title="Ajuda" icon="icon ion-help" href="#/intro">
        <ion-nav-view name="intro-view"></ion-nav-view>
    </ion-tab>
</ion-tabs>
